body {
  background-color: black;
  color: white;
}
.main {
  display: flex;
}
.comic {
  justify-self: left;
  width: 75%;
  max-height: 90%;
}

.quests {
  width: 25%;
  justify-self: right;
}
.button-div {
  padding: 10px;
  display: flex;
}
.nextPageButton,
.startGameButton {
  background-color: #b14863;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.narration {
  color: #b14863;
  border: solid #b14863;
  margin: 5px;
  padding: 3px;
}
p {
  margin: 1px;
}
.openQuetLog {
  background-color: #b14863;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.go-to {
  display: flex;
}
button {
  margin: auto;
}
input {
  margin: auto;
  width: fit-content;
  background-color: #b14863;
  border: white;
  color: white;
  width: 60px;
}
input::placeholder {
  color: white;
}
